#root {
  height: 100%;
  background-color: rgb(28,37,51);
}

.sideMenu {
  background-color: rgb(38,50,69);
}
.mainArea {
  background-color: rgb(201,197,197);
}

.contentArea{
 padding: 0px 14px!important;
}